.App {
  text-align: center;
  font-family: 'Sofia Sans', sans-serif;

}

.hero-page {
  background-color: #121B31;
  min-height: 100vh;
  color: #fff;
}

.hero-page a {
  text-decoration: none;
}

.bg-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.bg-image .logo-con {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-cont {
  width: 550px;
}

.hero-cont h2 {
  color: #FAFAFA;
  text-align: center;
  font-size: 91px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  /* 31.648% */
}

.hero-cont h4 {
  color: #42B3DB;
  text-align: center;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;
  /* 61.277% */

}

.hero-cont p {
  color: #FAFAFA;
  font-family: 'Segoe UI';
  text-align: center;
  font-size: 15.875px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.hero-cont .price-link {
  display: flex;
  width: 167.23px;
  height: 38px;
  padding: 11px 12.8px 11px 13px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #212F54;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  border: 1.5px solid var(--offwhite, #FAFAFA);
  background: var(--table-head-color, #42B3DB);
}

.login-form p {
  color: #FFF;
  text-align: center;
  font-family: "DINN";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-form .input-group {
  border-radius: 10px;
  background: #F3FBFF;
  height: 45px;
}

.login-form .input-group span {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-left: 30px;
}

.login-form .forgit-pass {
  color: #FFF;
  text-align: center;
  font-family: "DINN";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.login-form .forgit-pass:hover {
  color: #42B3DB;
}

.login-form .input-group input {
  border-radius: 5px;
  background: transparent;
  border: none;
  height: 100%;
  padding: 10px;
  outline: none;
  box-shadow: none;
}

.login-form button {
  display: flex;
  width: 259px;
  height: 49px;
  padding: 10px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #42B3DB;
  border: none;
  color: #212529;
  text-align: center;
  font-family: "DINN";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.login-form button:hover {
  color: #fff;
}